**/*.onnx
**/*.plan
**/*.onnx
**/*.plan
**/.cache/*
**/*onnx*
**/*engine*
**/*pytorch_model*
**/*.pth*
**/*.pt
**/*.models/*
**/*.model-store/*
**/*.model.*/*
**/*.cache/*
**/*.libtorch_model_store/*
**/.git
**/.github
**/*backup*/
.dockerignore