# CODEOWNERS file for Triton Distributed
#
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Rust
*.rs @ryanolson @grahamking @paulhendricks @biswapanda @tmonty12 @guanluo @rmccorm4
Cargo.toml @ryanolson @grahamking @paulhendricks @biswapanda @tmonty12 @guanluo @rmccorm4

# Python Libraries
*.py @nnshah1 @tanmayv25 @piotrm-nvidia @ptarasiewiczNV @nv-blazejkubiak @ryanolson @grahamking @paulhendricks @biswapanda @tmonty12 @guanluo @rmccorm4

# Container/Environments
/container/ @rmccorm4 @tanmayv25 @ptarasiewiczNV @ishandhanani @alec-flowers @nnshah1 @nv-anants

# Kubernetes
/deploy/Kubernetes/ @whoisj @hutm @biswapanda

# CI/CD
/.github/ @triton-inference-server/devops @nnshah1
CODEOWNERS @triton-inference-server/devops @nnshah1

# Legal
/LICENSE @nv-anants @nvda-mesharma @glos-nv @dmitry-tokarev-nv
/ATTRIBUTIONS.md @nv-anants @nvda-mesharma @glos-nv @dmitry-tokarev-nv
