# CODEOWNERS file for Triton Distributed
#
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Rust
*.rs @ryanolson @grahamking @paulhendricks @biswapanda @tmonty12
/runtime/rust/ @ryanolson @grahamking @paulhendricks @biswapanda @tmonty12
/llm/rust/ @ryanolson @grahamking @paulhendricks @biswapanda @tmonty12
Cargo.toml @ryanolson @grahamking @paulhendricks @biswapanda @tmonty12

# Python Libraries
/runtime/python/ @nnshah1 @tanmayv25 @piotrm-nvidia @ptarasiewiczNV @nv-blazejkubiak
/icp/ @nnshah1 @tanmayv25 @piotrm-nvidia @ptarasiewiczNV @nv-blazejkubiak

# Container/Environments
/container/ @rmccorm4 @tanmayv25 @ptarasiewiczNV @ishandhanani @alec-flowers @nnshah1 @nv-anants

# Kubernetes
/deploy/Kubernetes/ @whoisj @hutm @biswapanda

# CI/CD
/.github/ @nv-anants @nvda-mesharma @glos-nv @dmitry-tokarev-nv

# Legal
/LICENSE @nv-anants @nvda-mesharma @glos-nv @dmitry-tokarev-nv
/ATTRIBUTIONS.md @nv-anants @nvda-mesharma @glos-nv @dmitry-tokarev-nv
Cargo.lock @nv-anants @nvda-mesharma @glos-nv @dmitry-tokarev-nv @ryanolson @grahamking @paulhendricks
